table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  order: 2;
}

tbody {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

th,
td {
  padding: 8px;
}

th {
  background-color: #ffffff;
  text-align: left;
  position: relative;
}

tr:nth-child(odd) {
  background-color: #347bf6e7;
}

tr:hover {
  background-color: #7eb8eb;
}

.pagination {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination button {
  padding: 10px 20px;
  margin: 0 10px;
  border: 1px solid #ddd;
  background-color: #f2f2f2;
  cursor: pointer;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination input {
  width: 50px;
  text-align: center;
}

.pagination select {
  padding: 5px;
}

/* search */
.search-input {
  margin-bottom: 20px;
}

.search-input input {
  padding: 8px;
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
}

/* header for table */
.headerTable {
  display: flex;
  flex-direction: row;
  order: 1;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.showSection {
  display: flex;
  flex-direction: row;
  column-gap: 6px;
  align-items: center;
}

.table-container {
  display: flex;
  flex-direction: column;
}

.tableFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  order: 3;
}

.searchSection {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  column-gap: 10px;
}

.searchSection input {
  height: 20px;
  border: 1px solid black;
}

.arrow {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -20px;
  top: 20%;
  transform: translateY(-50%);
  /* padding: 2px; */
  margin: 1px 10px;
}

.arrow button {
  background: none;
  border: none;
  margin: 5px;
  cursor: pointer;
}

.arrow button:disabled {
  opacity: 0.3;
}

.numberPAgeSection button {
  background-color: transparent;
  border: 1px solid transparent;

  font-size: 14px;
  padding: 10px 16px;
  margin: 0 10px;
  border-radius: 4px;
  cursor: pointer;
}

/* Media Queries tablet */
@media (max-width: 768px) {
  .table-container {
    display: block;
  }

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    display: none;
  }
  tbody {
    border: none;
  }

  tr {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
  }

  td {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: none;
    position: relative;
    padding-left: 50%;
    text-align: left;
  }

  td::before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    width: calc(50% - 20px);
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }

  .headerTable,
  .tableFooter {
    flex-direction: column;
    align-items: flex-start;
  }
}
/* Media Queries for mobil */
@media (max-width: 480px) {
  td {
    padding-left: 40%;
  }

  td::before {
    left: 5px;
    width: calc(35% - 10px);
  }
}
