.arrows-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.arrow {
  color: #dedbdb;
  font-size: 17px;
  position: relative;
  left: -8px;
  top: -3px;
}
.arrows-container Button {
  height: 12px;
  width: 8px;
  background-color: transparent;
  position: relative;
  border: none;
  cursor: pointer;
}
