label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}

select {
  display: flex;
  justify-content: center;
  position: relative;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  color: #2b2b2b;
  cursor: pointer;
}

.selectBox {
  appearance: none;
  background-color: #f6f6f6;
  padding: 0 30px 0 15px;
  width: 90%;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.selectBox:hover {
  background-color: #e9e7e7;
}
.icon {
  color: gray;
  position: absolute;
  right: 45px;
}
.select-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: relative;
}
select option {
  height: 100vh;
  padding: 10px;
  background-color: white;
  overflow: none;
  position: absolute;
  bottom: 0;
}
