.inputDate-btn {
  height: 23px;
  width: 173px;
  background-color: transparent;
  border: none;
}
.inputDate-btn input {
  position: relative;
  top: -18px;
  left: -7px;
}

.inputDate-btn:hover {
    border-color: #646cff00;
  }
 .inputDate-btn:focus,
 .inputDate-btn:focus-visible {
    outline: none;
  }